In [ ]:
multistr = """
this is  multiline string 
hello 
innogeeks
"""

In [ ]:
print(multistr)

In [ ]:
multistr

In [ ]:
x = """ 
a
b
c
"""

In [ ]:
x

In [ ]:
print(x)

In [ ]:
string = "Innogaeks" # 012345678=-1# arrays

In [ ]:
print(string[0])

In [ ]:
#slicing 
substring = string[0:2]

In [2]:
substring

NameError: name 'substring' is not defined

In [ ]:
substring = string[0:-2]

In [ ]:
substring

In [ ]:
sub = string[0:5:2] #[start (defv=0):stop:step(deafault value 1)] 
sub

In [ ]:
substring = string[-2:-6:-3] # innogeeks 0 1 2 3 4= -6 5 6 7=-3 8=-2 9=-1
substring

X=ARUN Y=SHETTY
Z A  SHETTY ??

In [ ]:
string = "ARUNSHETTY"

In [ ]:
print(string[0 ] + string[4:10])

In [ ]:
substring = substring[0:1]

In [ ]:
substring

In [ ]:
x = arun

In [ ]:
type (x)

In [ ]:
name = Arun Shetty

In [ ]:
X = "ARUN"
Y = "SHETTY"


Z = X[0] +" " + Y


print("Z =", Z)

In [ ]:
for x in "banana":
print(x)

In [11]:
b = "HelloWorld!"
print(b[1:2:2])

e

In [12]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [13]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [14]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [15]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.